.new-films {
  .row {
    margin-right: -$gap / 2;
    margin-left: -$gap / 2;
  }

  .thumbnail {
    margin-bottom: 0;
  }
}

.new-films-item {
  margin-bottom: $gap;
  padding-right: $gap / 2;
  padding-left: $gap / 2;

  &__title {
    @include text-shortener;
  }
}
